*.apk
*.iml
*.orig
*.pyc
*.swp
.DS_Store
.git.bak/
.gradle/
.idea/
sample-app/ant_build/
sample-app/bin
sample-app/build/
sample-app/classes/
sample-app/gen-external-apklibs/
sample-app/gen/
sample-app/local.properties
sample-app/out/
sample-app/proguard_logs/
sample-app/target/
sample-app/tmp/

